@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.gallery {
  columns: 5 340px;
  column-gap: 1.5rem;
}

.modal {
  backdrop-filter: 5px;
  background-color: red;
}
